In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix
from data_utils import load_scores_data,load_text_xml,check_arsenl_data,check_duplicates_per_pos
from info import view_text_by_results

In [3]:
scores =load_scores_data('datasets/affectivetext_test.emotions.gold.csv')
sent = load_text_xml('datasets/affectivetext_test.xml')

In [4]:
scores.describe()

,id,anger,disgust,fear,joy,sadness,surprise
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000
mean,999.500000,8.563000,5.076000,16.144000,19.00300,18.494000,18.624000
std,288.819436,13.503347,10.027201,20.400182,21.08553,22.646077,14.165991
min,500.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,749.750000,0.000000,0.000000,0.000000,0.00000,0.000000,8.000000
50%,999.500000,1.000000,0.000000,8.000000,12.00000,11.000000,16.000000
75%,1249.250000,12.250000,7.000000,24.000000,35.00000,27.000000,25.000000
max,1499.000000,71.000000,87.000000,92.000000,84.00000,96.000000,87.000000

In [5]:
#sns.pairplot(scores.iloc[:,1:],diag_kind='hist')

In [6]:
#corr =scores.iloc[:,1:].corr()
#plt.figure(figsize=(10,7))
#sns.heatmap(corr, 
      #      xticklabels=corr.columns.values,
      #      yticklabels=corr.columns.values,annot=True)

In [7]:
#sns.boxplot(data=scores.iloc[:,1:])

In [8]:
for col in scores.columns[1:]:
    print('max '+col + ': ' + view_text_by_results(scores,sent,col,max))
print('--------------------------------')
for col in scores.columns[1:]:
    print('min '+col + ': ' + view_text_by_results(scores,sent,col,min))

max anger: Israeli woman's tirade spurs PM outrage
max disgust: Teacher charged with sex assault
max fear: UK workers on alert for letter bombs
max joy: Families celebrate return of sons
max sadness: Iraqi death toll exceeded 34,000 in 2006, United Nations says
max surprise: Man rides stationary bike for 85 hours
--------------------------------
min anger: Test to predict breast cancer relapse is approved
min disgust: Test to predict breast cancer relapse is approved
min fear: Sights and sounds from CES
min joy: Trucks swallowed in subway collapse
min sadness: Sights and sounds from CES
min surprise: Golden Globes on their way

In [9]:
for i in 'avrn':
    print('\'arsel/arsenl_'+i+'.txt\'')
   # check_arsenl_data('arsel/arsenl_'+i+'.txt')
    #check_duplicates_per_pos('arsel/arsenl_'+i+'.txt')

'arsel/arsenl_a.txt'
'arsel/arsenl_v.txt'
'arsel/arsenl_r.txt'
'arsel/arsenl_n.txt'

In [10]:
from arsel import Arsel
adj ='arsel/arsenl_a.txt'
verb ='arsel/arsenl_v.txt'
adv = 'arsel/arsenl_r.txt'
nouns = 'arsel/arsenl_n.txt'
ar_binary = Arsel(adj,nouns,verb,adv,binary=True)

In [11]:
ar_binary.get_emotionScores('hAjis','noun')

[0, 1, 0, 0, 0, 1]

In [13]:
ar_norm = Arsel(adj,nouns,verb,adv,norm=True)

C:\Users\PC\Desktop\Arsel\data_utils.py:173: RuntimeWarning: invalid value encountered in true_divide
  a = (a-min(a)) / (max(a)-min(a))

In [14]:
ar_norm.get_emotionScores('hAjis','noun')

[0.1424392725021087,
 0.31326827511475747,
 0.0,
 0.15955796636728084,
 0.038421179830477985,
 1.0]