In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix
from data_utils import load_scores_data,load_text_xml,check_arsenl_data,check_duplicates_per_pos

In [3]:
scores =load_scores_data('datasets/affectivetext_test.emotions.gold.csv')
sent = load_text_xml('datasets/affectivetext_test.xml')

In [4]:
scores.describe()

,id,anger,disgust,fear,joy,sadness,surprise
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000
mean,999.500000,8.563000,5.076000,16.144000,19.00300,18.494000,18.624000
std,288.819436,13.503347,10.027201,20.400182,21.08553,22.646077,14.165991
min,500.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,749.750000,0.000000,0.000000,0.000000,0.00000,0.000000,8.000000
50%,999.500000,1.000000,0.000000,8.000000,12.00000,11.000000,16.000000
75%,1249.250000,12.250000,7.000000,24.000000,35.00000,27.000000,25.000000
max,1499.000000,71.000000,87.000000,92.000000,84.00000,96.000000,87.000000

In [5]:
#sns.pairplot(scores.iloc[:,1:],diag_kind='hist')

In [6]:
#corr =scores.iloc[:,1:].corr()
#plt.figure(figsize=(10,7))
#sns.heatmap(corr, 
      #      xticklabels=corr.columns.values,
      #      yticklabels=corr.columns.values,annot=True)

In [7]:
#sns.boxplot(data=scores.iloc[:,1:])

In [9]:
def view_text_by_results(df_scores,df_sentences,col,func=max):
    """
    Returns one sentence from the given emotion column
    based on a given function for the emotion values

    Parameters:
    ------------
    df_scores: scores DataFrame
    df_sentences : sentences Dataframe
    col : emotion columns
    func {max,'min',..}: function to apply to emotion values (default=max)

    Returns
    ------------
    result : str
    """
    max_value = df_scores.loc[df_scores[col] == func(df_scores[col]),'id'].tolist()[0]
    return df_sentences.loc[df_sentences['id']== str(max_value),'text'].tolist()[0]

In [10]:
for col in scores.columns[1:]:
    print('max '+col + ': ' + view_text_by_results(scores,sent,col,max))
print('--------------------------------')
for col in scores.columns[1:]:
    print('min '+col + ': ' + view_text_by_results(scores,sent,col,min))

max anger: Israeli woman's tirade spurs PM outrage
max disgust: Teacher charged with sex assault
max fear: UK workers on alert for letter bombs
max joy: Families celebrate return of sons
max sadness: Iraqi death toll exceeded 34,000 in 2006, United Nations says
max surprise: Man rides stationary bike for 85 hours
--------------------------------
min anger: Test to predict breast cancer relapse is approved
min disgust: Test to predict breast cancer relapse is approved
min fear: Sights and sounds from CES
min joy: Trucks swallowed in subway collapse
min sadness: Sights and sounds from CES
min surprise: Golden Globes on their way

In [11]:
for i in 'avrn':
    print('\'arsel/arsenl_'+i+'.txt\'')
   # check_arsenl_data('arsel/arsenl_'+i+'.txt')
    #check_duplicates_per_pos('arsel/arsenl_'+i+'.txt')

'arsel/arsenl_a.txt'
'arsel/arsenl_v.txt'
'arsel/arsenl_r.txt'
'arsel/arsenl_n.txt'

In [1]:
%load_ext autoreload
%autoreload 2

In [38]:
from arsel import Arsel
from evaluator import Evaluator
adj ='arsel/arsenl_a.txt'
verb ='arsel/arsenl_v.txt'
adv = 'arsel/arsenl_r.txt'
nouns = 'arsel/arsenl_n.txt'
ar_binary = Arsel(adj,nouns,verb,adv,binary=True)
ar_binary.get_emotionScores('hAjis','noun')
ar_norm = Arsel(adj,nouns,verb,adv,norm=True)
ar_norm.get_emotionScores('hAjis','noun')

ev = Evaluator(ar_norm)
ev.load('datasets/Buckwalter_all_sentences_google_translated.txt','datasets/affectivetext_test.emotions.gold.csv')

C:\Users\PC\Desktop\Arsel\data_utils.py:186: RuntimeWarning: invalid value encountered in true_divide
  a = (a-min(a)) / (max(a)-min(a))

In [39]:
print(ev.dict_buckwalter[546])

" maqAl_1;noun :_0;punc Ean_1;prep h`*A_1;pron_dem EanaY-i_1;verb silosilap_1;noun min_1;prep li-_1;prep :_0;punc Tib~_1;noun nafosiy~_1;adj >amokan_1;verb >ano_1;conj_sub faEal-a_1;verb faqaT_1;adv kaviyr_2;adj "
word count: 16
verb count: 3
noun count: 3
adverb count: 1
adjective count: 2
unsupported pos count: 7
unsupported word count: 0

In [40]:
bk = 'tam~-i_1;verb muwAfaqap_1;noun EalaY_1;prep {ixotibAr_1;noun tanab~u&_1;noun {inotikAs_1;noun saraTAn_1;noun vadoy_1;noun'

In [41]:
d = ev.dataset_info()

In [42]:
d

{'verbs_count': 747,
 'nouns_count': 3141,
 'advs_count': 10,
 'adjs_count': 721,
 'words_count': 6787,
 'word_uniq_count': 1944,
 'unsupported_count': 442,
 'unsupported_pos_count': 2168}

In [44]:
print(747+3141+10+721+2168)

6787

In [21]:
len(d.keys())

7

In [30]:
[1] + [1,2]

[1, 1, 2]

In [32]:
m =['hello','me','me','ajskd']

In [33]:
set(m)

{'ajskd', 'hello', 'me'}

In [49]:
w = 'hello_me-'

In [50]:
w

'hello_me-'

In [52]:
w.replace('_','')

'hellome-'